# macOS
.DS_Store

# intellij
.idea

# python
*.pyc
*/__pycache__/
*egg-info
pip-wheel-metadata

# output directory
output/
backup/

#opensmile
smile.log


# extra files
*.csv
*.tsv
*.wav
*.mp3
*.mp4
*.p
*.m4a
*.json


./output
./classifier_R/extra/ 
glove.short.300d.txt
glove.short.300d.punct.txt
python_readme.md
external/opensmile*
data/*
requirements.txt


# R code
classifier_R
classifier_R/.Rhistory
classifier_R/.RData

# Virtual environment
.venv

# builds
build/
dist/
# Preventing people from accidentally committing ASIST human subjects data to the repo.
HSR*

# Vim swap files
*.swp
