# macOS
.DS_Store

# intellij
.idea

# python
*.pyc
*/__pycache__/
*egg-info
pip-wheel-metadata

# output directory
output/
backup/

#opensmile
smile.log

.DS_Store

# extra files
*.csv
*.tsv
*.wav
*.mp3
*.mp4
*.p
./output
glove.short.300d.txt
python_readme.md

external/opensmile*
data/*

# R code
classifier_R
