# intellij
.idea

# python
*.pyc
*/__pycache__/

# directories
output/
backup/
data/

#opensmile
smile.log

.DS_Store

# extra files
*.csv
*.tsv
*.wav
*.mp3
*.mp4
*.p
./output
glove.short.300d.txt
python_readme.md

external/opensmile*
data/*

# R code
classifier_R
