<!--<video id="webcam" width="480" height="360"></video>-->
<h1>Browser Microphone Streamer</h1>
<p>This prototype webapp streams audio from your microphone to a server for
processing.</p>
<form>
    <label for="participant_id">Participant ID</label>
    <select id="participant_id" name = "participant_id">
        <option value="participant_1">Participant 1</option>
        <option value="participant_2">Participant 2</option>
        <option value="participant_3">Participant 3</option>
        <option value="experimenter">Experimenter</option>
    </select>
    <input type="submit" id="connectButton" value="Connect" >
</form>
<button id="startRecButton" type="button">Start</button>
<button id="stopRecButton" type="button">Stop</button>
<div id="connectedIndicator">Not connected</div>
<script src="static/js/app.js"></script>
