<!--<video id="webcam" width="480" height="360"></video>-->
<h1>Browser Microphone Streamer</h1>
<p>This prototype webapp streams audio from your microphone to a server for
processing.</p>
<form>
    <label for="host">Host</label>
    <input type="text" name="host" id="host_input" value="localhost"/>
    <label for="port">Port</label>
    <input type="number" name="port" id="port_input" 
                                     min=1 max=65535 value=9000 />
    <input type="submit" value="Connect">
</form>
<button id="startRecButton" type="button">Start</button>
<button id="stopRecButton" type="button">Stop</button>
<div id="connectedIndicator">Not connected</div>
<script src="static/js/app.js"></script>
